/* .main_container {
  width: 100%;
  overflow: hidden;
} */
* {
  font-family: Arial;
}
header {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
}

/* BEGIN: NON STICKY NAVIGATION PART*/
header img.site_logo_image {
  display: block;
  width: auto;
  margin: 5px auto;
}

.non_sticky_navigation ul li {
  float: left;
  width: 33.333332%;
  font-size: 1.8rem;
  margin: 5px 0px;
  text-align: center;
}

.non_sticky_navigation ul li.shopping_cart_details i,
.non_sticky_navigation ul li.shopping_cart_details span {
  margin-right: 2px;
}

sup {
  font-size: 0.8rem;
}

.non_sticky_navigation ul li ul, .non_sticky_navigation ul li form {
  display: none;
}

/* END: NON STICKY NAVIGATION PART*/
/* BEGIN: FEATURED PRODUCT PART*/
.header_featured_products_inner {
  border: 4px solid #fac528;
}
.header_featured_products_container {
  overflow: hidden;
  position: relative;
  margin: 10px;
  padding: 10px;
}

.header_featured_products_inner_slider {
  min-width: 500%;
}

.featured_product {
  box-sizing: border-box;
  float: left;
  width: 20%;
  padding: 5px 15px;
  margin: 5px auto;
}

.featured_product_overlay_header {
  border-bottom: 2px solid #1c1105;
  padding-bottom: 5px;
}

.featured_product_overlay_header h2 {
  font-size: 1.1rem;
  float: left;
  padding-top: 8px;
}

.featured_product_overlay_header_button button {
  float: right;
  background-color: #1c1105;
  border: none;
  padding: 5px;
}

ul.featured_product_overlay_contents li {
  clear: both;
  margin-top: 5px;
  width: 100%;
  font-size: 0.9rem;
}

ul.featured_product_overlay_contents li img {
  float: left;
  width: 14%;
}

.featured_product_overlay_content_info {
  float: left;
  width: 81%;
  margin-left: 5%;
  padding-top: 5px;
}

.featured_product_overlay_content_info p {
  font-size: 0.8rem;
}

.pentagon_button_left, .pentagon_button_right {
  height: 24px;
  width: 24px;
  background: url("../images/pentagon_yellow.svg");
  background-size: 100%;
  display: inline-block;
  transform: rotate(35deg);
}
.pentagon_button_left i {
  transform: rotate(-35deg);
  padding: 7px 5px 5px 7px;
  color: white;
}
.pentagon_button_right i {
  transform: rotate(-35deg);
  padding: 6px 6px 6px 9px;
  color: white;
}
.pentagon_button_left:hover, .pentagon_button_right:hover {
  background: url("../images/pentagon_brown.svg");
  background-size: 100%;
  cursor: pointer;
}

nav.sticky_navigation ul {
  display: none;
}

nav.sticky_navigation .sticky_navigation_FAB_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fac528;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  font-size: 1.5rem;
  z-index: 20;
}
.sticky_navigation_FAB_icon a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #1c1105;
}

/* BEGIN: MAIN SECTION */
main {
  margin: 5px 0px 0px;
}
.furniture_showcase {
  overflow: hidden;
}
.furniture_showcase_slider {
  min-width: 300%;
}
.furniture_showcase_slider ul li {
  float: left;
  width: 15.591397%;
  margin-left: 0.53764%;
  margin-right: 0.53764%;
  position: relative;
  overflow: hidden;
}
.furniture_showcase_slider ul li img {
  width: 100%;
  height: auto;
}
.furniture_showcase_item_overlay {
  width: 100%;
  height: 100%;
}
.furniture_showcase_item_overlay h4 {
  position: absolute;
  top: 5%;
  left: 5%;
}
.furniture_shocase_item_overlay_border_design {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40%;
  left: 16.75824%;
  border: 2px solid white;
  padding-left: 20%;
  padding-top: 5%;
}
.furniture_shocase_item_overlay_border_design button {
  background-color: #1c1105;
  border: none;
  padding: 5px;
}
.latest_furniture {
  text-align: center;
}
.latest_furniture h2 {
  font-weight: lighter;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.3rem;
  position: relative;
  display: inline-block;
}
.latest_furniture h2::after {
  content: '';
  position: absolute;
  left: 30%;
  display: inline-block;
  height: 1em;
  width: 66px;
  border-bottom: 3px solid #e7e7e7;
  margin-top: 5px;
}

.latest_furniture ul li {
  width: 46.774192%;
  margin-right: 1.612903%;
  margin-left: 1.612903%;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
.latest_furniture ul li .latest_furniture_item_descriptions {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid lightgrey;
  border-bottom: none;
  padding: 5px;
  position: relative;

}
.latest_furniture ul li .latest_furniture_item_descriptions img {
  width: 100%;
  margin-bottom: 5px;
}
.latest_furniture ul li .latest_furniture_item_descriptions
span.latest_furniture_item_tag {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
  font-size: 0.7rem;
  display: inline-block;
  background: #1c1105;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.latest_furniture ul li .latest_furniture_item_descriptions
span.latest_furniture_item_tag.new {
  background: #fac012;
}
.latest_furniture ul li .latest_furniture_item_descriptions h3 {
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.latest_furniture ul li .latest_furniture_item_descriptions p {
  color: grey;
  font-size: 0.8rem;
  font-family: Arial;
  margin-bottom: 5px;
}
.latest_furniture ul li button {
  width: 100%;
  background: #fac012;
  color: white;
  border: none;
  line-height: 30px;
  font-size: 0.8rem;
}
span.latest_furniture_item_price {
  color: #fac012;
}


.why_choose_youniverse_content {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px;
}
.why_choose_youniverse_content_title h2 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: -1px;
  font-size: 1.3rem;
  position: relative;
  margin-bottom: 30px;
}
.why_choose_youniverse_content_title h2::after {
  content: "";
  display: inline-block;
  margin-top: 10px;
  position: absolute;
  border-bottom: 3px solid #fac012;
  width: 46px;
  left: 0%;
  height: 1em;
}
.why_choose_youniverse_content_title p {
  font-size: 0.9rem;
  text-align: justify;
}

.why_choose_youniverse_content_dropdown {
  margin: 10px 0px;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 0.8rem;
  position: relative;
}
.why_choose_youniverse_content_dropdown:hover {
  background: #fac012;
  cursor: pointer;
}
.why_choose_youniverse_content_dropdown:hover span {
  background: white;
  transform: rotate(90deg);
  color: #fac012;
  padding-top: 0px;
}
.why_choose_youniverse_content_dropdown span {
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  height: 21px;
  width: 21px;
  text-align: center;
  background: #fac012;
  top: 15%;
  right: -10px;
  box-sizing: border-box;
  padding-top: 2px;
}

.latest_posts_section_title {
  text-align: center;
  padding: 20px 0px;
}
.latest_posts_section_title h2 {
  text-transform: uppercase;
  font-weight: lighter;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1.3rem;
  position: relative;
}
.latest_posts_section_title h2::after {
  content: "";
  display: inline-block;
  margin-top: 15px;
  position: absolute;
  border-bottom: 3px solid #e7e7e7;
  width: 50px;
  left: 30%;
  height: 1em;
}
.latest_posts_content {
  padding: 0px 5px;
  overflow: hidden;
}

.latest_posts_content ul {
  min-width: 150%;
}

.latest_posts_content>ul>li {
  width: 31.182795%;
  float: left;
  margin-left: 1.075268%;
  margin-right: 1.075268%;
  font-size: 0.8rem;
  text-align: justify;
  color: grey;
  margin-bottom: 15px;
}
.latest_posts_content_image img {
  width: 100%;
  margin-bottom: 2px;
}
.latest_posts_date {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid lightgrey;
  padding: 2px;
  margin-bottom: 3px;
}
.latest_posts_date span {
  font-size: 0.7rem;
  font-weight: bold;
  color: Black;
}
.latest_posts_date span:first-child {
  font-weight: bold;
  font-size: 1rem;
}
.latest_posts_content_item_abouts h3 {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: Black;
}

.latest_posts_content_item_abouts ul li a {
  text-transform: capitalize;
  color: #fac528;
  margin-bottom: 2px;
}


.get_our_discounts_right {
  padding: 10px;
  font-size: 0.8rem;
  text-align: justify;
}
.get_our_discounts_right h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 25px;
  margin-top: 10px;
  display: inline-block;
}
.get_our_discounts_right h2::after {
  content: "";
  width: 50px;
  height: 1em;
  position: absolute;
  display: inline-block;
  left: 0%;
  margin-top: 10px;
  border-bottom: 3px solid white;
}
.get_our_discounts_form input {
  font-size: 0.8rem;
  font-weight: bold;
  box-sizing: border-box;
  display: block;
  width: 95%;
  margin: 10px 2.5% 10px 0px;
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 15px;
}
.get_our_discounts_form input::placeholder {
  color: white;
  opacity: 1;
}
.get_our_discounts_form button {
  border: none;
  background: white;
  font-weight: bold;
  font-size: 0.8rem;
  color: Black;
  text-transform: uppercase;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;
}
.get_our_discounts_form button span {
  display: inline-block;
  height: 21px;
  width: 21px;
  padding: 3px;
  box-sizing: border-box;
  background: #fac012;
  color: white;
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.get_our_discounts_form button:hover {
  background: #fac012;
  color: white
}
.get_our_discounts_form button:hover span {
  background: white;
  color: #fac012;
}



.newest_collections {
  padding: 5px;
  text-align: center;
}
.newest_collections h2 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2em;
  position: relative;
  margin-bottom: 25px;
  margin-top: 20px;
}
.newest_collections h2::after {
  content: "";
  display: inline-block;
  border-bottom: 3px solid #e7e7e7;
  margin-top: 13px;
  height: 1em;
  width: 50px;
  left: 35%;
  position: absolute;
}
.newest_collections nav ul li a {
  width: 19.354838%;
  margin-left: 0.322580%;
  margin-right: 0.322580%;
  box-sizing: border-box;
  float: left;
  border: 1px solid grey;
  padding: 10px 2px;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.newest_collections nav ul li a:hover {
  background: #fac012;
  color: white;
  border: none;
}

.newest_collections_content>ul>li {
	width: 46.774192%;
	float: left;
	margin-left: 1.612903%;
	margin-right: 1.612903%;
	font-size: 0.8rem;
	color: white;
	margin-bottom: 10px;
  position: relative;
}
.newest_collections_content>ul>li>img {
  width: 100%;
  height: 100%;
}
.newest_collections_content>ul>li>div {
  display: none;
  padding: 3px 5px;
  box-sizing: border-box;
  font-size: 0.8rem;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fac012;
}
.newest_collections_content>ul>li:hover>div {
  display: block;
  cursor: pointer;
}
.newest_collections_content>ul>li>div>h4 {
  text-transform: uppercase;
  margin-bottom: 4px;
  font-weight: bold;
  letter-spacing: -0.2px;
  font-size: 0.7rem;
}
.newest_collections_content>ul>li>div>span {
  font-size: 1.1rem;
  display: block;
  margin-bottom: 4px;
  font-weight: bolder;
}



.contact_us_section {
  padding: 20px 5px;
  font-size: 0.8em;
}

.contact_us_section ul li {
  width: 46.774192%;
	float: left;
	margin-left: 1.612903%;
	margin-right: 1.612903%;
  margin-bottom: 15px;
}
.contact_us_section ul li dt {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: bolder;
}
.contact_us_section ul li:first-child dt {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 2px;
}
.contact_us_form input,
.contact_us_form textarea {
  background: transparent;
  border: 1px solid lightgrey;
  color: grey;
  display: block;
  width: 96.774194%;
  margin: 5px 1.612903%;
  box-sizing: border-box;
  padding: 10px 15px;
  text-align: left;
  font-size: 0.8rem;
  resize: none;
}
.contact_us_form button {
  border: none;
  background: #1c1105;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;
  margin-left: 1.612903%;
}
.contact_us_form button span {
  display: inline-block;
  height: 21px;
  width: 21px;
  padding: 3px;
  box-sizing: border-box;
  background: #fac012;
  color: white;
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.contact_us_form button:hover {
  background: #fac012;
}
.contact_us_form button:hover span {
  background: white;
  color: #fac012;
}

footer a:hover {
  color: white;
}

footer .footer_inner{
  padding: 15px 5px 5px;
  font-size: 0.8rem;
  color: grey;
}
.footer_about_us_description p {
  padding: 0px 5px;
  margin-bottom: 20px;
  text-align: justify;
}
.footer_about_us_description {
  padding-bottom: 20px;
  border-bottom: 1px solid #281909;
  margin-bottom: 20px;
}
.footer_about_us_description a {
  display: inline-block;
  color: #fac012;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
}
.footer_about_us_description a::before {
  display: inline-block;
  content: ">";
  box-sizing: border-box;
  font-size: 0.8rem;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  margin-left: 5px;
  border: 1px solid #fac528;
}

.footer_about_us_social_links ul li {
  width: 46.774192%;
  float: left;
  margin: 10px 1.612903%;
}
.footer_about_us_social_links ul li>i {
  color: white;
  text-align: center;
  float: left;
  box-sizing: border-box;
  height: 28px;
  width: 28px;
  background: #5d5144;
  padding-top: 8px;
  margin-right: 2%;
}
.footer_about_us_social_links ul li>div {
  font-weight: lighter;
  float: left;
  width: 78.687390%;
}
.footer_latest_products>h2,
.footer_top_sellers>h2,
.footer_instagram_feed>h2 {
  margin-left: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  margin-bottom: 25px;
  position: relative;
}
.footer_latest_products>h2::after,
.footer_top_sellers>h2::after,
.footer_instagram_feed>h2::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1em;
  margin-top: 10px;
  border-bottom: 3px solid #fac012;
  position: absolute;
  left: 0%;
}
.footer_latest_products ul li,
.footer_top_sellers ul li {
  margin: 0px 1.612903%;
  padding: 15px 0px;
  border-bottom: 1px solid #281909;
}
.footer_latest_products ul li>img,
.footer_top_sellers ul li>img {
  width: 16.129032%;
  height: auto;
  float: left;
}
.footer_latest_products ul li>div,
.footer_top_sellers ul li>div {
  float: left;
  width: 80.870967%;
  margin-left: 3%;
}
.footer_latest_products ul li>div>h3,
.footer_top_sellers ul li>div>h3 {
  font-weight: lighter;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.footer_latest_products ul li>div>p>s,
.footer_top_sellers ul li>div>p>s {
    margin-right: 5px;
}
.footer_latest_products ul li>div>p>span,
.footer_top_sellers ul li>div>p>span {
  display: inline-block;
  color: #fac012;
  font-size: 1rem;
  margin-top: 3px;
}
.footer_latest_products .single_latest_product_rating span.checked,
.footer_top_sellers .single_top_seller_rating span.checked{
  color: #fac012;
}
.footer_instagram_feed ul li {
  /* float: left;
  width: 30.107526%;
  margin: 5px 1.612903%; */
  float: left;
  width: 46.774193%;
  margin: 5px 1.612903%;
}
.footer_instagram_feed ul li img {
  width: 100%;
  height: auto;
}
.footer_inner_top {
  padding-bottom: 20px;
  border-bottom: 2px solid #281909;
}
.footer_inner_bottom p {
  text-align: center;
  padding: 10px 0px;
}
.header_featured_products_inner .pentagon_button_left {
  position: absolute;
  top: 45%;
  left: 0px;
}
.header_featured_products_inner .pentagon_button_right {
  position: absolute;
  top: 45%;
  right: 0px;
}
.furniture_showcase_slider_buttons {
  height: 24px;
  width: 95%;
  box-sizing: border-box;
  margin: 10px 2.5%;
  position: relative;
}
.furniture_showcase_slider_buttons::after {
  content: "";
  width: 100%;
  height: 1em;
  border-bottom: 1px solid #e7e7e7;
  position: absolute;
  left: 0;
  top: 20%;
}
.furniture_showcase_slider_buttons .pentagon_button_left {
  position: absolute;
  left: 50%;
  margin-left: 10px;
  top: 3px;
  z-index: 5;
}
.furniture_showcase_slider_buttons .pentagon_button_right {
  position: absolute;
  margin-right: 10px;
  right: 50%;
  top: 3px;
  z-index: 5;
}
