@media only screen and (min-width: 480px) {
  .footer_about_us_social_links ul li {
    width: 31.205673%;
    float: left;
    margin: 10px 1.063829%;
  }
  .footer_latest_products ul li,
  .footer_top_sellers ul li {
    width: 45.744680%;
    float: left;
    margin: 0px 2.127659%;
    padding: 15px 0px;
    border-bottom: 1px solid #281909;
  }
  .footer_latest_products ul li>img,
  .footer_top_sellers ul li>img {
    width: 23.255813%;
    height: auto;
  }
  .footer_latest_products ul li>div,
  .footer_top_sellers ul li>div {
    width: 73.744186%;
  }
  .footer_instagram_feed ul li {
    /* float: left;
    width: 30.107526%;
    margin: 5px 1.612903%; */
    width: 22.872340%;
    margin: 10px 1.063829%;
  }

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
